DATABASE_URL=postgresql://postgres:TU_PASSWORD@db.cefsywrvzvpozkfpzrao.supabase.co:5432/postgres
SECRET_KEY=TU_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORE_BACKEND_URL=http://localhost:8001
CORE_DATABASE_URL=postgresql://postgres:TU_PASSWORD@db.cefsywrvzvpozkfpzrao.supabase.co:5432/postgres
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://leonardoeufracio.github.io
PORT=8003
