DATABASE_URL=postgresql://postgres:TxVyL5pCWcc9L5k4@db.cefsywrvzvpozkfpzrao.supabase.co:5432/postgres
SECRET_KEY=cambia_esta_clave
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORE_BACKEND_URL=http://localhost:8001
CORE_DATABASE_URL=postgresql://postgres:TxVyL5pCWcc9L5k4@db.cefsywrvzvpozkfpzrao.supabase.co:5432/postgres
PORT=8003
